
.spyproject/workspace.ini
.spyproject/vcs.ini
.spyproject/encoding.ini
.spyproject/codestyle.ini
**/__pycache__/*
*.pyc
workspaces/*
!workspaces/default_workspace
!workspaces/uuid_mapping_default.txt
log/*
*.log

log/main_event_handler.log
log/main_event_handler.log

temp/*
.project
.pydevproject
*.prefs
resources/mapping_objects.pkl
*.pkl