
.spyproject/workspace.ini
.spyproject/vcs.ini
.spyproject/encoding.ini
.spyproject/codestyle.ini
**/__pycache__/*
*.pyc
workspaces/*
!workspaces/default_workspace
!workspaces/uuid_mapping_default.txt
log/*
*.log
*.log
*.log
