
.spyproject/workspace.ini
.spyproject/vcs.ini
.spyproject/encoding.ini
.spyproject/codestyle.ini
**/__pycache__/*
*.pyc
*.ipynb
*.ipynb
*.ipynb
.notebooks/*.ipynb
workspaces/mw/input_data/exports/all_data.txt
workspaces/mw/*